# =========================
# IDE Files
# =========================

# Eclipse
.classpath
.project
.settings/
.externalToolBuilders/
*.launch
*.tern-project
*.ejbdeploy

# Intellij
out/
.idea/
#.mvn/
lib/
*.iml
*.iws

# =========================
# Build Files
# =========================
src/main/resources/application-local.properties

# Maven
log/
image/
target/

# =========================
# Operating System Files
# =========================

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows image file caches
Thumbs.db
ehthumbs.db